
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="/Scripts/plugins/KendoUI/css/kendo.common.min.css" />
    <link rel="stylesheet" href="/Scripts/plugins/KendoUI/css/kendo.default.min.css" />
    <link rel="stylesheet" href="/Scripts/plugins/KendoUI/css/kendo.default.mobile.min.css" />
}

<div class="page-title">
    <div class="title_left">
        <h3>
            Sản phẩm <small>Quản lý sản phẩm</small>
        </h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách sản phẩm</h2>&nbsp;
                <button id="add-new-product" type="button" class="btn btn-primary">Thêm mới</button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">

                    <div class=" form-horizontal col-md-12 col-sm-12 col-sx-12 filter-box-gallery">
                        <label class="control-label col-md-1">Lọc theo:</label>
                        <div class="col-md-3">
                            <select id="list-product-filter-category" class="form-control col-md-3">
                            </select>
                        </div>
                    </div>

                    <div id="container-list-product">
                        @{ Html.RenderAction("GetListProduct", "Product", new {categoryId = 0}); }
                    </div>

                </div>

                @*<div class="row">
                    <button id="btn-view-more-product" type="button" class="btn btn-round btn-primary" data-page="2">Xem thêm</button>
                </div>*@

            </div>
        </div>
    </div>
</div>
@section script {
    <script src="/Scripts/plugins/kendoui/js/kendo.all.min.js"></script>
    <script src="/Scripts/plugins/kendoui/js/kendo.aspnetmvc.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var $filterCate = $('#list-product-filter-category');
            var $listproduct = $('#container-list-product');
            var $btnViewMore = $('#btn-view-more-product');
            if ($filterCate.length > 0) {
                $.ajax({
                    url: '/Product/GetDropdownListCategory',
                    dataType: 'html',
                    success: function(result) {
                        $filterCate.html(result);
                    },
                    error: function(jqXHR, textStatus) {
                        console.error(textStatus);
                    }
                });
            }

            $filterCate.on('change', function () {
                $.ajax({
                    url: '/Product/GetListProduct',
                    data: {
                        categoryId: $filterCate.val()
                    },
                    dataType: 'html',
                    success: function (result) {
                        $listproduct.html(result);
                        initListProduct();
                    },
                    error: function (jqXHR, textStatus) {
                        console.error(textStatus);
                    }
                });
            });

            initListProduct();

            $btnViewMore.off('click').on('click', function () {                
                var curPage = $btnViewMore.data('page');
                $.ajax({
                    url: '/Product/GetListProduct',
                    data: {
                        categoryId: $filterCate.val()
                        //page: curPage
                    },
                    dataType: 'html',
                    success: function (result) {
                        $listproduct.append(result);
                        initListProduct();
                        var totalPage = $('#total-page-' + curPage).val();
                        if (totalPage == curPage) {
                            $btnViewMore.hide();
                        } else {
                            $btnViewMore.attr('data-page', curPage + 1);
                        }                        
                    },
                    error: function (jqXHR, textStatus) {
                        console.error(textStatus);
                    }
                });
            });
        });

        function initListProduct() {
            var $filterCate = $('#list-product-filter-category');                        

            $('#add-new-product').off('click').on('click', function () {
                var options = {
                    id: 'popupAddNewProduct',
                    width: 900,
                    title: false,
                    draggable: false,
                    resizable: false
                }
                var popupWindow = window.pinJs.initPopupWindow(options);
                popupWindow.refresh({
                    url: "/Product/AddProduct",
                    async: false
                }).center().open();
                $('#popupAddNewProduct').parent().addClass('popup-window');
                $("#popupAddNewProduct").parent().addClass("mobileModal");
                window.pinJs.initFormWindow('#frmAddEditProduct', popupWindow, null, function (response) {
                    $filterCate.trigger('change');
                });
            });

            $('.link-edit-product-item').off('click').on('click', function () {
                var productId = $(this).data('id');
                var options = {
                    id: 'popupEditProduct',
                    width: 900,
                    title: false,
                    draggable: false,
                    resizable: false
                }
                var popupWindow = window.pinJs.initPopupWindow(options);
                popupWindow.refresh({
                    url: "/Product/EditProduct",
                    data: {
                        id: productId
                    },
                    async: false
                }).center().open();
                $('#popupEditProduct').parent().addClass('popup-window');
                $("#popupEditProduct").parent().addClass("mobileModal");
                window.pinJs.initFormWindow('#frmAddEditProduct', popupWindow, null, function (response) {
                    $filterCate.trigger('change');
                });
            });

            $('.link-delete-product-item').off('click').on('click', function () {
                var productId = $(this).data('id');
                var data = {
                    id: productId
                }
                var x = confirm('Bạn có chắc chắn muốn xóa Sản phẩm này không?');
                if (x) {
                    $.post('/Product/DeleteProduct', data, function (response) {
                        if (response.Success == true) {
                            $filterCate.trigger('change');
                        }
                    });
                }
            });
        }
    </script>
}

