<appSettings>
  <add key="SETAConnection" value="Data Source=103.28.39.45;Initial Catalog=st_KetNoiB2B;Persist Security Info=True;User ID=sa;Password=y9ZYAQay8MGsU5;Max Pool Size=1000;Connect Timeout=720;Pooling=true;" />
  <add key="EnableOptimizations" value="false"/>

  <!--Key Crypt-->
  <add key="AesIV" value="mgDqaZE2q0lGc9ywS7j/Lw=="/>
  <add key="AesKey" value="ielqEUUHbauOOvzQ2YJdbXY76f22d1cRWC4RKNvbe7M="/>

  <!--Config recaptcha google:teacherzone.com-->
  <!--<add key="site-key" value="6LezEgkTAAAAAPdbfiCRxVQR9shBWwJhNSX1GjG0"/>
  <add key="secret-key" value="6LezEgkTAAAAAJiti1Tv4X2jjZ4TdjGgBugsXZBq"/>-->

  <!--Config recaptcha google:localhost-->
  <add key="site-key" value="6LfCEgkTAAAAADY7My1MlNccqjBNTbdjRGLg5Hm1"/>
  <add key="secret-key" value="6LfCEgkTAAAAAKcVbryOGNNOeNIq5M8FOiGd7Uzy"/>

  <!--Session-->
  <add key="SessionKeyUser" value="user"/>

  <add key="FileLogSql" value="~/bin/sqllog.txt"/>
  <add key="UseORM" value="ADONET"/>

  <!--Config for Cache-->
  <add key="UseCache" value="False"/>
  <add key="CacheFormatGenerate" value="-{0}_{1}"/>
  <add key="CacheFormatGenerateOutputParam" value="{0}|Ouput-{1}"/>
  <add key="IgnoreNotify" value="GenerateCommon|"/>

  <!--Log Error -->
  <add key="SystemMailLog" value="false"/>
  <add key="SystemName" value="DEMO"/>
  <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />

  <!-- Email Configuration -->

  <!--Email Contact(Admin) -->

  <!--Config: Category-->

  <!--Message Type-->

  <!--FileSizeUpload-->
  <!--unit: MB-->
  <add key="upload-video-max-size" value="5"/>
  <add key="upload-document-max-size" value="5"/>
  <add key="upload-audio-max-size" value="5"/>
  <add key="upload-image-max-size" value="5"/>
  <add key="folder-upload-image-product" value="{0}Images\ProductImages"/>

  <!--View Type-->
  <add key="view-current-user" value="1"/>
  <add key="view-children" value="2"/>

  <!--OpenTok-->

  <!--Activity config: Dashboard-->
  <add key="total-activity-detail" value="2"/>
  <add key="total-activity-assign" value="2"/>
  <add key="total-activity-complete" value="4"/>
  <add key="total-activity-notify" value="8"/>
  <add key="total-activity-dashboard" value="6"/>
  <add key="activity-page-size" value="10"/>

  <!--Lib page-->
  <add key="lib-page-size" value="16"/>
  <add key="lib-number-item" value="4"/>
  <add key="lib-max-recent" value="20"/>
  <add key="lib-max-recommended" value="20"/>

  <!--Config sent email-->
  <add key="sendmail-enable" value="1"/>
  <add key="sendmail-default-password" value="teacherzone2015"/>

  <!--Config Url Default Video for Course and Homework Detail-->
  <add key="CourseVideoDefault" value="encodes/2819e1ef_0214_45ec_a8d8_3d7a9b6a3fed_131388895064788382.mp4"/>
  <add key="ConvertVideoFaild" value="encodes/6f9f9654_8535_400b_8899_fc7eb7b0c26b_131074340700471711.mp4"/>

  <!--Youtube Data APIs: API Key-->
  <add key="YoutubeApiKey" value="AIzaSyDUCGp0A55YzOCUm7z-NZbsacn2tMQEADg"/>

  <!-- SMS Config -->
  <add key="SMSAccountSid" value="ACb829f3ebf3d136dd45d3952e355898be"/>
  <add key="SMSAuthToken" value="3f5959f9988a5d8f183d1e59773b020b"/>
  <add key="SMSFrom" value="+16574441010"/>
  <add key="SMSExpiredCode" value="2"/>
  <add key="SMSDefaultIsoCountry" value="us"/>
  <add key="SMSDefaultPhoneCode" value="1"/>
  <!-- minutes -->
  <add key="SMSMaxSendPersion" value="15"/>

  <!--Enable Redirect SSL when login-->
  <add key="EnableRedirectSSL" value="0"/>

  <!-- Report config-->
  <add key="RoleToLog" value="100,200,300"/>

  <!-- Google Tag Manager code -->
  <add key="GTMCode" value="GTM-WJQGZV"/>

  <!--  Setting control verify CellPhone-->
  <add key="ModSMSVerify" value="0"/>

  <!--Project Build version-->
  <add key="ProjectBuildVersion" value="1.5.11"/>

  <!-- Enable  WorldPay config -->
  <add key="enableWorldPay" value="1" />
  <add key="wp-verify-card-zipcode" value="92675" />
  <!-- WorldPay config-->
  <add key="secureNetId" value="1086021" />
  <add key="secureKey" value="pFc4jIeyYgvW" />
  <add key="mode" value="live" />
  <add key="endpoint" value="https://gwapi.securenet.com" />
  <add key="timeout" value="60000" />
  <add key="connectionTimeout" value="60000" />
  <add key="developerId" value="12345678" />
  <add key="versionId" value="1.2" />
  <add key="WPPublicKey" value="e5dcf933-4447-4205-90d7-e195521b6888"/>

  <!-- Thumbnai Plan no image default -->
  <add key="DefaultThumbnaiPlan" value="Thumnails/plan-default.jpg"/>

  <!-- Help config -->
  <add key="help-link-db-student" value="https://teacherzone.com/LearningCenter/CourseDetail/1668"/>
  <add key="help-link-db-teacher" value="https://teacherzone.com/LearningCenter/CourseDetail/11495"/>
  <add key="help-link-db-school" value="https://teacherzone.com/LearningCenter/CourseDetail/10890"/>
  <add key="help-link-db-other" value="https://teacherzone.com/LearningCenter/CourseDetail/10890"/>

  <!-- Login as member config: timeout-login-as: Minutes -->
  <add key="timeout-login-as" value="30"/>
  <add key="timeout-remember-user-by-day" value="30"/>

  <!--Environment-->
</appSettings>